{% extends 'admin-index.html' %}
{% load static %}
{% block title %}
<title>Blog Admin</title>
{% endblock title %}
<!-- Start bootstrap table -->
{% block bs_table %}
<!-- Start Heading -->
<div class="row pt-4">
   <div class="col-md-12 text-primary text-center">
      <h4> Blog Dashboard </h4>
   </div>
</div>
<!-- End Heading -->
<!-- Start blog admin tab -->
<div class="row pt-5 pb-5 border border-primary border-bottom-0 border-left-0 border-right-0">
   <!-- Start Blogs Tabs -->
   <div class="col-md-2 border border-primary border-top-0 border-bottom-0 border-left-0">
      <!-- Stat Add Blog -->
      <div class="row mb-5">
         <div class="col-md-12">
            <a href="{% url 'add_blog_form' %}">
            <button type="button" class="btn btn-info btn-sm btn-block">Add Blog</button>
            </a>
         </div>
      </div>
      <!-- End Add Blog -->
      <!-- Stat view all Blog -->
      <div class="row mb-5">
         <div class="col-md-12">
            <a href="{% url 'view_all_blog' %}">
            <button type="button" class="btn btn-info btn-sm btn-block">View all Blogs</button>
            </a>
         </div>
      </div>
      <!-- End view all Blog -->
      <!-- Stat Blog Comments -->
      <div class="row mb-5">
         <div class="col-md-12">
            <a href="{% url 'admin_blog_comments' %}">
            <button type="button" class="btn btn-info btn-sm btn-block">Blog - Comments</button>
            </a>
         </div>
      </div>
      <!-- End Blog Comments -->
   </div>
   <!-- End Blogs Tabs -->
   <!-- Start Blogs form for add and tables to show -->
   <div class="col-md-10">
      {% block blog_admin_tab %}
      <!-- Start Heading -->
      <div class="row">
         <div class="col-md-12 text-primary">
            <h5>All Blog</h5>
         </div>
      </div>
      <!-- End Heading -->
      <!-- Start content -->
      <div class="row pt-4">
         <div class="col-md-12">
            <div class="table-responsive">
               <table class="table table-bordered">
                  <thead class="table-primary">
                     <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Body</th>
                        <th colspan="2" class="text-center">Action</th>
                     </tr>
                  </thead>
                  <tbody>
                     {% for i in result %}
                     <tr>
                        <td>{{ i.id }}</td>
                        <td>{{ i.title }}</td>
                        <td>{{ i.description | safe }}</td>
                        <td>{{ i.body }}</td>
                        <td>
                           <a href="{% url 'edit_blog' i.id %}">
                           <button type="button" class="btn btn-success btn-sm">UPDATE</button>
                           </a>
                        </td>
                        <td>
                           <a href="{% url 'delete_blog' i.id %}" onclick="return confirm('Are you sur you want to delete this item.')">
                           <button type="button" class="btn btn-danger btn-sm" >DELETE</button>
                           </a>
                        </td>
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
            </div>
         </div>
      </div>
      <!-- End Content -->
      {% endblock blog_admin_tab %}
   </div>
   <!-- End Blogs form for add and tables to show -->
</div>
<!-- End blog admin tab -->
{% endblock bs_table %}
<!-- End bootstrap table -->