{% extends 'index.html' %} {% load static %} {% block title %}
<title>FAQ</title>
{% endblock title %}

<!-- Own Home Screen CSS -->
{% block own_css %}
<!-- own virtual-assistance CSS -->
<link rel="stylesheet" href="{% static 'css/faq.css' %}" />
{% endblock own_css %}

<!-- Start Slider -->
{% block slider %}
<div class="row slider pl-5 pr-5">
    <div class="col-md-2"></div>
    <!-- Start Haeding -->
    <div class="col-md-6 slider-heading">
        <!-- Start Traning and placement Heading -->
        <div class="row">
            <div class="col-md-12">
                <h1>Frequently Asked Questions</h1>
            </div>
        </div>
        <!-- End Traning and placement Heading -->
    </div>
    <!-- End Haeding -->
    <!-- Start Slider Image -->
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <img class="float-right img-fluid" src="{% static 'img/faq-slider.png' %}" alt="img icon" />
            </div>
        </div>
    </div>
    <!-- End Slider Image -->
</div>
{% endblock slider %}
<!-- End Slider -->

<!-- Start Main body -->
{% block main_body %}

<!-- Start 1.	Is Snable a Software as a Service company? -->
<div class="row pl-5 pr-5 ">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12 question">
                1. Is Snable a Software as a Service company?
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 answer">
                Ans: Yes, there are a few SaaS companies that create applications that large enterprises would use to run their business.
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<!-- End 1.	Is Snable a Software as a Service company? -->

<!-- Start 2.	Is Snable the right partner for my team? -->
<div class="row pl-5 pr-5 ">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12 question">
                2. Is Snable the right partner for my team?
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 answer">
                Ans: Your team may feel that we, Snable, are not the perfect fit for you. This is possible due to the size, number of employees, or your business model. But, there's no issue with our software development skills and their availability on a global scale. If we're not yet a match for you and you're looking to to work in specific industries such as healthcare then email info@snable.com to find out more about our services.
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<!-- End 2.	Is Snable the right partner for my team? -->

<!-- Start 3.	What is the difference between a Web Development Company and a Software Development company? -->
<div class="row pl-5 pr-5 ">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12 question">
                3.	What is the difference between a Web Development Company and a Software Development company?
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 answer">
                Ans: A Web Development Company provides the building blocks for a website and the structures of how information flows from one page to another, this is a two-page format:
                <ol type="A">
                    <li>Site Requirements.</li>
                    <li>Design Options.</li>
                    <li>Development Consultation.</li>
                </ol>
                A Software Development Company may help a business with analytics and an interactive media strategy and recommend an APP, SaaS or online tool as well as technology integrations for their company's needs.
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<!-- End 3.	What is the difference between a Web Development Company and a Software Development company? -->

<!-- Start 4.	What does the company do? -->
<div class="row pl-5 pr-5 ">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12 question">
                4.	What does the company do?
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 answer">
                Ans: Snable specializes in developing products and solutions from start to finish. This means that we are not limited to just the design process but can also deliver finished products after analyzing customer requirements and creative ideas.
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<!-- End 4.	What does the company do?    -->

<!-- Start 5.	How does Snable work? -->
<div class="row pl-5 pr-5 ">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12 question">
                5.	How does Snable work?
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 answer">
                Ans: Hi! Snable works with a wide range of clients from startups to businesses. It only depends on your needs and the customizations you want. It can be as simple as providing access to the software or consultation so that you can manage yourself. Snable's experts are happy to advise and share their knowledge with you.
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<!-- End 5.	How does Snable work?    -->

<!-- Start 6.	What technologies does Snable work with? -->
<div class="row pl-5 pr-5 ">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12 question">
                6.	What technologies does Snable work with?
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 answer">
                Ans: Our in-house technologists and innovators are experts in continuous upgrades that provide our products with the latest innovations that give you a competitive edge. We work with techno.
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<!-- End 6.	What technologies does Snable work with?    -->

<!-- Start 7.	What is Snable's main goal? -->
<div class="row pl-5 pr-5 ">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12 question">
                7.	What is Snable's main goal?
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 answer">
                Ans: We aim to understand the business needs of our customers and align them with the new technologies that exist today as well as tomorrow.
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<!-- End 7.	What is Snable's main goal?    -->

<!-- Start 8.	Does Snable work with startups? -->
<div class="row pl-5 pr-5 ">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12 question">
                8.	Does Snable work with startups?
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 answer">
                Ans: Disruptive startups, rebranding companies, and businesses that want to develop a successful Digital Nomad platform are the perfect fit for Snable. We believe in creating partnerships with integrity, creativity and strategic thinking.
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<!-- End 8.	Does Snable work with startups?    -->

<!-- Start 9.	What can I develop with Snable? -->
<div class="row pl-5 pr-5 ">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12 question">
                9.	What can I develop with Snable?
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 answer">
                Ans: Snable is a product development services firm. Snable can work with you to build your next web app, data platform, IoT project, AI algorithm, or an SaaS solution.
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<!-- End 9.	What can I develop with Snable?    -->

<!-- Start 10.	Does Snable offer custom-built software development? -->
<div class="row pl-5 pr-5 ">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12 question">
                10.	Does Snable offer custom-built software development?
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 answer">
                Ans: Snable does offer custom-built software development for B2B and software as a service (SaaS). We also have a technical team that can design, analyse, and troubleshoot larger enterprise systems.
                <br>
                For more personalized answers, please email info@snable.com and we will respond to all requests within 1-3 business days.
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<!-- End 10.	Does Snable offer custom-built software development?    -->
{% endblock main_body %}
<!-- End Main body -->
