{% extends 'index.html' %} {% load static %} {% block title %}
<title>Training & Hiring</title>
{% endblock title %}

<!-- Own Home Screen CSS -->
{% block own_css %}
<link rel="stylesheet" href="{% static 'css/traning-placemente.css' %}" />
{% endblock own_css %}

<!-- Start Slider -->
{% block slider %}
<div class="row slider pl-5 pr-5">
    <div class="col-md-1"></div>
    <!-- Start Sub Heading, Heading, Buttons -->
    <div class="col-md-6 slider-heading-content-buttons">
        <!-- Start Main Heading -->
        <div class="row slider-heading">
            <div class="col-md-12">
                <h1>Training & Hiring</h1>
            </div>
        </div>
        <!-- End Main Heading -->
        <!-- Start Heading Sub Content -->
        <div class="row slider-content">
            <div class="col-md-12">
                Cloud Migration through Digital and Application development for your business.
            </div>
        </div>
        <!-- End Heading Sub Content -->
        <!-- Start Traning and placement Button -->
        <div class="row slider-buttons">
            <div class="col-sm-4">
                <a href="https://calendly.com/snablein/book-and-appointment" class="text-decoration-none" target="_blank"> <button type="button" class="btn btn-primary btn-lg btn-block">Book & Appointment</button> &nbsp; </a>
            </div>
            <div class="col-sm-4">
                <a href="/media/docs/e_brochure-Full_Content-Snable.pdf" class="text-decoration-none" target="_blank">
                    <button type="button" class="btn btn-outline-primary btn-lg btn-block">
                        Download brochure
                    </button>
                    &nbsp;
                </a>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <!-- Start Traning and placement Button -->
    </div>
    <!-- End Sub Heading, Heading, Buttons -->
    <div class="col-md-1"></div>
    <!-- Start Slider Image -->
    <div class="col-md-3">
        <div class="row slider-image">
            <div class="col-md-12">
                <img class="float-right img-fluid" src="{% static 'img/traning-placement-header-image.png' %}" alt="img icon" />
            </div>
        </div>
    </div>
    <!-- End Slider Image -->
    <div class="col-md-1"></div>
</div>

<!-- Start Traning and placement Button -->
<div class="row mobile-view-slider-buttons pl-4 pr-4">
    <div class="col-sm-4">
        <a href="https://calendly.com/snablein/book-and-appointment" class="text-decoration-none" target="_blank"> <button type="button" class="btn btn-primary btn-lg btn-block">Book & Appointment</button> &nbsp; </a>
    </div>
    <div class="col-sm-4">
        {% for i in result %}
        <a href="{{i.docs.url}}" class="text-decoration-none" target="_blank">
            <button type="button" class="btn btn-outline-primary btn-lg btn-block">
                Download brochure
            </button>
            &nbsp;
        </a>
        {% endfor %}
    </div>
    <div class="col-sm-4"></div>
</div>
<!-- Start Traning and placement Button -->
{% endblock slider %}
<!-- End Slider -->

<!-- Start Main body -->
{% block main_body %}
<!-- Start Cloud migration heading -->
<div class="row pl-5 pr-5 cloud-migration">
    <div class="col-md-12 text-center">
        Cloud Migration through Digital and Application development for your business.
    </div>
</div>
<!-- End Cloud migration heading -->

<!-- Start introduction to AI ML -->
<div class="row pl-5 pr-5 ai-ml">
    <div class="col-sm-1 order-sm-1"></div>
    <!-- Start AI ML Image -->
    <div class="col-sm-5 order-sm-2 col-12 order-2">
        <img src="{% static 'img/traning-placement-1.png' %}" class="img-fluid" alt="" />
    </div>
    <!-- End AI ML Image -->
    <!-- Start AI ML Content -->
    <div class="col-sm-5 order-sm-7 col-12 order-1 ai-ml-heading-content">
        <div class="row ai-ml-heading">
            <div class="col-md-12">
                Introduction to AIML
            </div>
        </div>
        <div class="row text-justify ai-ml-content">
            <div class="col-md-12">
                Python generates code that is succinct and legible. While machine learning and artificial intelligence are based on complicated algorithms and flexible workflows, Python's simplicity enables developers to create dependable
                solutions. Developers may focus entirely on the machine learning task at hand, rather than on the language's technical subtleties. Additionally, Python appeals to a large number of developers due to its ease of learning.
                Python code is human-readable, which simplifies the process of developing machine learning models.
            </div>
        </div>
    </div>
    <!-- End AI ML Content -->
    <div class="col-sm-1 order-sm-12"></div>
</div>
<!-- End introduction to AI ML -->

<!-- Start scope of AI ML -->
<div class="row pl-5 pr-5 s-ai-ml">
    <div class="col-md-1"></div>
    <!-- Start scope of AI ML Content -->
    <div class="col-md-5 s-ai-ml-heading-content">
        <div class="row s-ai-ml-heading">
            <div class="col-md-12">
                Scope of AIML
            </div>
        </div>
        <div class="row s-ai-ml-content">
            <div class="col-md-12 text-justify">
                According to a Gartner analysis, Artificial Intelligence (AI) is expected to provide about 2.3 million new jobs by 2020. And, according to a survey from Indeed, job openings in the field of artificial intelligence have more
                than quadrupled in the previous three years. According to similar research from Indeed, the most in-demand artificial intelligence job titles include machine learning engineers, software engineers, and data scientists.
            </div>
        </div>
        <div class="row s-ai-ml-content">
            <div class="col-md-12 text-justify">
                While the industry's rivalry has yet to heat up in the coming months, the present talent pool in the IT business has already set its sights on Artificial Intelligence as a profitable source of revenue and a gratifying career
                path. Despite the hype that AI would eliminate redundant work functions through automation and smart gadgets, we are still far from the point where robots will take over our daily lives. Therefore, if you are an AI aspirant
                seeking work in the business, we would like to remind you that chances abound.
            </div>
        </div>
    </div>
    <!-- End scope of AI ML Content -->
    <div class="col-md-1"></div>
    <!-- Start AI ML Image -->
    <div class="col-md-4">
        <img src="{% static 'img/traning-placement-2.png' %}" class="img-fluid" alt="" />
    </div>
    <!-- End AI ML Image -->
    <div class="col-md-1"></div>
</div>
<!-- End scope of AI ML -->

<!-- Start Uniquness of our traning -->
<div class="row pl-5 pr-5 u-o-traning">
    <!-- Start Uniquness of our traning Image -->
    <div class="col-sm-6 order-sm-1 col-12 order-2">
        <img src="{% static 'img/traning-placement-3.png' %}" class="img-fluid" alt="" />
    </div>
    <!-- End Uniquness of our traning Image -->
    <!-- Start Uniquness of our traning Content -->
    <div class="col-sm-6 order-sm-7 col-12 order-1 u-o-traning-heading-content">
        <div class="row u-o-traning-heading">
            <div class="col-md-12">
                Uniquness of Our Training and Placement programm
            </div>
        </div>
        <div class="row u-o-traning-content">
            <div class="col-md-12 text-justify">
                We bring you a Python Machine Learning course that introduces the fundamentals of machine learning through the use of a simple and well-known programming language. You'll discover the difference between Supervised and
                Unsupervised Learning, the relationship between Statistical Modeling and Machine Learning, and a comparison of the two.
            </div>
        </div>
        <div class="row u-o-traning-content">
            <div class="col-md-12 text-justify">
                Consider real-world instances of machine learning and how it influences society in unexpected ways!
            </div>
        </div>
        <div class="row u-o-traning-content">
            <div class="col-md-12 font-italic font-weight-bold text-justify">
                “Guaranteed job opportunities and 1400+ hrs of on-site learning with Subject Matter Experts.”
            </div>
        </div>
        <div class="row u-o-traning-content">
            <div class="col-md-12 text-justify">
                Artificial Intelligence is a rapidly growing field that is embraced by every IT professional. Artificial intelligence has simplified several tasks and is frequently utilised by both IT professionals and clients. As a result,
                it becomes critical to have a working understanding of Artificial Intelligence and how to progress in this sector.
            </div>
        </div>
        <div class="row u-o-traning-content">
            <div class="col-md-12 text-justify">
                This intermediate-level course will begin by introducing you to the history of neural networks. You will then comprehend the difference between biological and artificial neurons. Following that, you will be introduced to the
                perceptron and its operation. Once you understand how a neural network works, its architecture becomes more understandable. You will learn about the many forms of activation functions and a quick overview of the softmax,
                forward propagation, and loss functions. Along with these theoretical notions, you'll get a hands-on demonstration of the Keras framework. With the assistance of the accompanying demo, it will be simpler to comprehend
                backpropagation and gradient descent. Additionally, you will get an understanding of Tensorflow through a demonstration using the MNIST data set. Take advantage of this course built exclusively for AI enthusiasts and earn
                your much-earned certification upon completion.
            </div>
        </div>
        <div class="row u-o-traning-content">
            <div class="col-md-12 text-justify">
                Assume that you are interested in learning more about Artificial Intelligence, as it is a large area brimming with fascinating concepts. Consider the highly regarded Artificial Intelligence Courses offered by us. Enroll in
                the best programme that matches your interests and earn course completion certification.
            </div>
        </div>
    </div>
    <!-- End Uniquness of our traning Content -->
</div>
<!-- End Uniquness of our traning -->

<!-- Start Download Brochure  -->
<div class="row d-flex justify-content-center text-center pt-5 pb-5">
    <div class="col-md">
        <a href="/media/docs/e_brochure-Full_Content-Snable.pdf" target="_blank">
            <button type="button" class="btn btn-primary btn-lg">
                Download brochure
            </button>
        </a>
    </div>
</div>
<!-- Start Download Brochure  -->
{% endblock main_body %}
<!-- End Main body -->

<!-- Start Contact US Form & Google Map -->
{% block main_body_contact_form %}
<div class="container-fluid">
    <div class="row contact-us pl-5 pr-5 pb-3">
        <!-- Start Contact Us Form -->
        <div class="col-md-6">
            <!-- Start Contact Us heading  -->
            <div class="row contact-us-heading">
                <div class="col-md-12">
                    Fill in your Details
                </div>
            </div>
            <!-- End Contact Us heading  -->

            <form method="post" action="insert_training_hiring_form" class="needs-validation" novalidate>
                {% csrf_token %}
                <!-- Start Full Name -->
                <div class="row c-u-form c-u-form-without-p">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter your full name" name="full_name" required />
                        </div>
                    </div>
                </div>
                <!-- End Full Name -->

                <!-- Start Qualification -->
                <div class="row c-u-form c-u-form-without-p">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter your Qualifications" name="qualifications" required />
                        </div>
                    </div>
                </div>
                <!-- Start Qualification -->

                <!-- Start Email Address -->
                <div class="row c-u-form c-u-form-without-p">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter your email address" id="myemail" name="email_id" required />
                        </div>
                    </div>
                </div>
                <!-- End Email Address -->

                <!-- Start Mobile & Whatsapp number -->
                <div class="row">
                    <!-- Start Mobile number-->
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-2 col-3 contact-mobile-whats-icon">
                                <i class="fa-solid fa-phone"></i>
                            </div>
                            <div class="col-md-10 col-9 c-u-form c-u-form-without-p">
                                <div class="form-group pr-3">
                                    <input type="number" class="form-control" placeholder="Enter your number" name="mobile_number" id="mynum" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Mobile number-->
                    <!-- Start Whatsapp number-->
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-2 col-3 contact-mobile-whats-icon">
                                <i class="fa-brands fa-whatsapp"></i>
                            </div>
                            <div class="col-md-10 col-9 c-u-form c-u-form-without-p">
                                <div class="form-group pr-3">
                                    <input type="number" class="form-control" placeholder="Enter your number" name="whatsapp_number" id="mynum1" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Whatsapp number-->
                </div>
                <!-- End Mobile & Whatsapp number -->

                <!-- Start Contact us form comments -->
                <div class="row c-u-form c-u-form-without-p">
                    <div class="col-md-12 pr-1 pl-4">
                        <div class="form-group">
                            <textarea class="form-control" rows="5" id="comment" name="message" placeholder="Message"></textarea>
                        </div>
                    </div>
                </div>
                <!-- End Contact us form comments -->

                <!-- Start Submit button -->
                <div class="row c-u-form c-u-form-without-p">
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-outline-primary btn-block">Submit</button>
                    </div>
                    <div class="col-md-8 pt-3 text-white">
                        {% for i in messages %}
                        <!--{{i}} -->
                        {% if i.tags %}
                        <script>
                            alert("{{ i }}");
                        </script>
                        {% endif %} {% endfor %}

                        <!--{% if messages %}
                                        {% for message in messages %}
                                            {% if message.tags %}
                                                    <script>alert("{{ message }}")</script>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}-->
                    </div>
                </div>
                <!-- End Submit button -->
            </form>
        </div>
        <!-- End Contact Us Form -->

        <!-- Start google map for address -->
        <div class="col-md-6">
            <div class="row google-map-address">
                <div class="col-md-12 google-map-container">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3721.994315605251!2d79.0599659!3d21.1127928!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb961cf6806a0ad6e!2sSnable%20Private%20Limited%20%7C%20SaaS%20Based%20Organization%20%7C%20Information%20Technologies%20%7C%20Digital%20Marketing%20%7C%20Mobile%20Application%20Development!5e0!3m2!1sen!2sin!4v1648702479280!5m2!1sen!2sin"
                        width="600"
                        height="450"
                        style="border: 0;"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"
                        width="100%"
                        class="responsive-iframe"
                    ></iframe>
                </div>
            </div>
        </div>
        <!-- End google map for address -->
    </div>
    <div class="row mobile-view-google-map-address">
        <div class="col-md-12 mobile-view-google-map-container">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3721.994315605251!2d79.0599659!3d21.1127928!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb961cf6806a0ad6e!2sSnable%20Private%20Limited%20%7C%20SaaS%20Based%20Organization%20%7C%20Information%20Technologies%20%7C%20Digital%20Marketing%20%7C%20Mobile%20Application%20Development!5e0!3m2!1sen!2sin!4v1648702479280!5m2!1sen!2sin"
                width="600"
                height="450"
                style="border: 0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
                width="100%"
                class="responsive-iframe"
            ></iframe>
        </div>
    </div>
</div>
{% endblock main_body_contact_form %}
<!-- End Contact US Form & Google Map -->
