{% extends 'index.html' %} {% load static %} {% block title %}
<title>Virtual Assistance</title>
{% endblock title %}

<!-- Own Home Screen CSS -->
{% block own_css %}
<!-- own common CSS fro Digital marketing, Virtual Assistance, Web and App Draft -->
<link rel="stylesheet" href="{% static 'css/common-css-dm-va-wad.css' %}" />
<!-- own virtual-assistance CSS -->
<link rel="stylesheet" href="{% static 'css/virtual-assistance.css' %}" />
{% endblock own_css %}

<!-- Start Slider -->
{% block slider %}
<div class="row slider pl-5 pr-5">
    <div class="col-md-12">
        <div class="row">
            <!-- Start Haeding, Content, Button -->
            <div class="col-md-5 slider-heading-button">
                <!-- Start Traning and placement Heading -->
                <div class="row slider-heading">
                    <div class="col-md-12">
                        <h1>Virtual Assistance</h1>
                    </div>
                </div>
                <!-- End Traning and placement Heading -->
                <!-- Start Traning and placement Button -->
                <div class="row slider-button">
                    <div class="col-md-4"><button type="button" class="btn btn-primary btn-block btn-lg" data-target="#modal4" data-toggle="modal">Contact now</button> &nbsp;&nbsp;</div>
                    <div class="col-md-8"></div>
                </div>
                <!-- Start Traning and placement Button -->
            </div>
            <!-- End Haeding, Content, Button -->
            <div class="col-md-3"></div>
            <!-- Start Slider Image -->
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <img class="float-right img-fluid" src="{% static 'img/dm-header-image.png' %}" alt="img icon" />
                    </div>
                </div>
            </div>
            <!-- End Slider Image -->
        </div>
        <div class="row mobile-view-slider-button">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary btn-block" data-target="#modal4" data-toggle="modal">Contact now</button>
            </div>
        </div>
    </div>
</div>
{% endblock slider %}
<!-- End Slider -->

<!-- Start Main body -->
{% block main_body %}

<!-- Start Our Bespoke Service for You -->
<div class="row text-center our-services-tagline">
    <div class="col-md-12">
        Our Bespoke Service for You
    </div>
</div>
<!-- End Our Bespoke Service for You -->

<!-- Start Buttons -->
<div class="row pl-5 pr-5 d-flex justify-content-center services-btn">
    <div class="col-md-3">
        <a href="{% url 'digitalmarketing' %}" class="text-decoration-none">
            <button type="button" class="btn btn-outline-secondary btn-lg btn-block">Digital Marketing</button>
        </a>
    </div>

    <div class="col-md-3">
        <a href="{% url 'webappdevelopment' %}" class="text-decoration-none">
            <button type="button" class="btn btn-outline-secondary btn-lg btn-block">Web & App Development</button>
        </a>
    </div>

    <div class="col-md-3">
        <a href="{% url 'virtualassistance' %}" class="text-decoration-none">
            <button type="button" class="btn btn-primary btn-lg btn-block">Virtual Assistance</button>
        </a>
    </div>
</div>

<div class="row pl-5 pr-5 mobile-view-services-btn">
    <div class="col-md-12">
        <div class="row ser-btn">
            <div class="col-md-12 p-0">
                <a href="{% url 'digitalmarketing' %}" class="text-decoration-none">
                    <button type="button" class="btn btn-outline-secondary btn-block">Digital Marketing</button>
                </a>
            </div>
        </div>
        <div class="row ser-btn">
            <div class="col-md-12 p-0">
                <a href="{% url 'webappdevelopment' %}" class="text-decoration-none">
                    <button type="button" class="btn btn-outline-secondary btn-block">Web & App Development</button>
                </a>
            </div>
        </div>
        <div class="row ser-btn">
            <div class="col-md-12 p-0">
                <a href="{% url 'virtualassistance' %}" class="text-decoration-none">
                    <button type="button" class="btn btn-primary btn-block">Virtual Assistance</button>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End Buttons -->

<!--
    - Use common css alignment here.
    - you will write css for digital marketing page.
    - I will use same digital marketing alignment here.
-->
<!-- Start Customer Services  -->
<div class="row pl-5 pr-5 s-m-marketing">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-1 order-sm-1"></div>
            <!-- Start Image -->
            <div class="col-sm-4 order-sm-2 col-12 order-2">
                <img src="{% static 'img/virtual-assistance-1.png' %}" class="img-fluid" alt="" />
            </div>
            <!-- End Image -->
            <div class="col-sm-1 order-sm-6"></div>
            <!-- Start Content -->
            <div class="col-sm-5 order-sm-7 col-12 order-1 s-m-marketing-heading-content-btn">
                <div class="row">
                    <div class="col-md-12 s-m-marketing-heading">
                        Customer Services
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 s-m-marketing-content">
                        <ul class="list-group">
                            <li class="">Helpdesk Services</li>
                            <li class="">Technical Support</li>
                            <li class="">Orderprocessing</li>
                            <li class="">Virtual Receptionist</li>
                            <li class="">Appointment Schedulling</li>
                        </ul>
                    </div>
                </div>
                <div class="row s-m-marketing-btn">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary btn-block"  data-target="#modal4" data-toggle="modal">Get Quote</button>
                    </div>
                </div>
            </div>
            <!-- End Content -->
            <div class="col-sm-1 order-sm-12"></div>
        </div>
        <div class="row">
            <div class="col-sm-12 mobile-view-s-m-marketing-btn">
                <div class="row mobile-view-sm-btn">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary btn-block btn-sm" data-target="#modal4" data-toggle="modal">Get Quote</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Customer Services  -->

<!-- Start Content Writing -->
<div class="row pl-5 pr-5 s-m-marketing">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-md-1"></div>
            <!-- Start End Content -->
            <div class="col-md-5 s-m-marketing-heading-content-btn">
                <div class="row">
                    <div class="col-md-12 s-m-marketing-heading">
                        Content Writing
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 s-m-marketing-content">
                        <ul class="list-group">
                            <li class="">Writing blog posts, ebooks, books, newsletters, email funnels, etc.</li>
                            <li class="">Writing editing audio or video captions or transcriptions</li>
                            <li class="">Writing social media posts for Facebook, Twitter, or Instagram</li>
                            <li class="">Website and sales page copywriting</li>
                        </ul>
                    </div>
                </div>
                <div class="row s-m-marketing-btn">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary btn-block"  data-target="#modal4" data-toggle="modal">Get Quote</button>
                    </div>
                </div>
            </div>
            <!-- End Content -->
            <div class="col-md-1"></div>
            <!-- Start Content Writing Image -->
            <div class="col-md-4">
                <img src="{% static 'img/virtual-assistance-2.png' %}" class="img-fluid" alt="" />
            </div>
            <!-- End Content Writing Image -->
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-sm-12 mobile-view-s-m-marketing-btn">
                <div class="row mobile-view-sm-btn">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary btn-block btn-sm" data-target="#modal4" data-toggle="modal">Get Quote</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Content Writing -->

<!-- Start Graphic Desiging  -->
<div class="row pl-5 pr-5 s-m-marketing">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-1 order-sm-1"></div>
            <!-- Start SEO Image -->
            <div class="col-sm-4 order-sm-2 col-12 order-2">
                <img src="{% static 'img/virtual-assistance-3.png' %}" class="img-fluid" alt="" />
            </div>
            <!-- End SEO Image -->
            <div class="col-sm-1 order-sm-6"></div>
            <!-- Start SEO Content -->
            <div class="col-sm-5 order-sm-7 col-12 order-1 s-m-marketing-heading-content-btn">
                <div class="row">
                    <div class="col-md-12 s-m-marketing-heading">
                        Graphic Desiging
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 s-m-marketing-content">
                        <ul class="list-group">
                            <li class="">UI/UX Desiging for Website and App</li>
                            <li class="">Graphic Desiging for Website and All Social Media</li>
                            <li class="">Logo Design</li>
                            <li class="">Youtube Ads</li>
                            <li class="">Motion Graphics</li>
                        </ul>
                    </div>
                </div>
                <div class="row s-m-marketing-btn">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary btn-block"  data-target="#modal4" data-toggle="modal">Get Quote</button>
                    </div>
                </div>
            </div>
            <!-- End SEO Content -->
            <div class="col-sm-1 order-sm-12"></div>
        </div>
        <div class="row">
            <div class="col-sm-12 mobile-view-s-m-marketing-btn">
                <div class="row mobile-view-sm-btn">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary btn-block btn-sm" data-target="#modal4" data-toggle="modal">Get Quote</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Graphic Desiging  -->

{% endblock main_body %}
<!-- End Main body -->
