@font-face {
  font-family: "Quicksand";
  src: url('Quicksand-VariableFont_wght.ttf');
}

@font-face {
  font-family: "Nunito";
  src: url('Nunito-VariableFont_wght.ttf');
}


:root
{
    --color-text-1:#3F4C6E;    
    --color-text-2:#5D636E;
    --color-text-4:#fff;
    --font-family-q-sand :"Quicksand";
    --font-family-nunito :"Nunito";
}

.header-navigation
{
    background-image: linear-gradient(72.56deg, #633194 -5.27%, rgba(107, 140, 222, 0.06) 92.53%);
    box-shadow: 2px 6px 13px rgba(109, 83, 156, 0.3);
    padding-left: 0px;
    padding-right: 0px;
}

.slider .blog-slider-subheading
{
    font-family: var(--font-family-nunito);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: var(--color-text-4);
    padding-top:132px;
    padding-bottom:5px;
}

.slider .blog-slider-main-heading
{
    padding-bottom:119px;
}

.main-body .blog-row
{
    padding-left:15px;
    padding-right:15px;
    padding-top:20px;
}

.main-body .blog-row .blog-column
{
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
}

.main-body .blog-post
{
    background: #F2F4F6;
    box-shadow: 4px 4px 6px rgba(177, 185, 194, 0.47);
    border-radius: 25px;
    padding-left:29px;
    padding-right:29px;
    padding-top:20px;
}

.main-body .blog-post .post-main-heading
{
    font-family: var(--font-family-q-sand);
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: var(--color-text-1);

}

.main-body .blog-post .post-content
{
    font-family: var(--font-family-nunito);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 145%;
    color: var(--color-text-2);
    padding-top:16px;
}

.main-body .blog-post .read-more
{
    padding-top:16px;
    padding-bottom:63px;
}

.main-body .blog-post .read-more a
{
    font-family: var(--font-family-q-sand);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: var(--color-text-1);
}

@media all and (min-width: 361px)
{

}

@media all and (max-width: 360px)
{
    .main-body .blog-row .blog-column
    {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 16px;
    }

    .slider .blog-slider-subheading
    {
        font-family: var(--font-family-nunito);
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 44px;
        color: var(--color-text-4);
        padding-top: 0px;
        padding-bottom: 5px;
        text-align:center;
    }

    .slider .blog-slider-main-heading
    {
        padding-bottom: 78px;
    }

    .main-body .blog-post .post-main-heading
    {
        font-family: var(--font-family-q-sand);
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 145%;
        color: var(--color-text-1);
    }

    .main-body .blog-post .post-content
    {
        font-family: var(--font-family-nunito);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 145%;
        color: var(--color-text-2);
        padding-top: 8px;
    }

    .main-body .blog-post .read-more
    {
        padding-top: 10px;
        padding-bottom: 45px;
    }

    .main-body .blog-post .read-more a
    {
        font-family: var(--font-family-q-sand);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #617ED1;
    }
}