@font-face {
  font-family: "Quicksand";
  src: url('Quicksand-VariableFont_wght.ttf');
}

@font-face {
  font-family: "Nunito";
  src: url('Nunito-VariableFont_wght.ttf');
}


:root
{
    --color-text-1:#3F4C6E;    
    --color-text-2:#5D636E;
    --color-text-4:#fff;
    --font-family-q-sand :"Quicksand";
    --font-family-nunito :"Nunito";
}

.header-navigation
{   
    background-image: linear-gradient(to top right, rgb(36,53,117,1), rgb(54,92,158,0));
    padding-left: 0px;
    padding-right: 0px;      
}

/* Start Mobile view CSS*/

@media all and (min-width: 361px)
{

}

@media all and (max-width: 360px)
{
    .header-navigation
    {
        background-image: linear-gradient(179.27deg, rgba(107, 140, 222, 0.45) 24.6%, rgba(36, 53, 117, 0.75) 106.4%);
        padding-left: 0px;
        padding-right: 0px;
    }

}

/* End Mobile view CSS*/