@font-face {
  font-family: "Quicksand";
  src: url('Quicksand-VariableFont_wght.ttf');
}

@font-face {
  font-family: "Nunito";
  src: url('Nunito-VariableFont_wght.ttf');
}


:root
{
    --color-text-1:#3F4C6E;    
    --color-text-2:#5D636E;
    --color-text-4:#fff;
    --color-button-1:#87A9FD;
    --font-family-q-sand :"Quicksand";
    --font-family-nunito :"Nunito";
}

body 
{
    font-family: var(--font-family-nunito);
    margin: 0;
}

svg {
  width: 100%;
}

.navbar-dark .navbar-nav .nav-link 
{
    color: var(--color-text-1);
    padding-right: 25px;
    padding-left: 25px;

}

.navbar-dark .navbar-nav .nav-link:hover
{
    color: var(--color-text-1);
    border-radius: 8px;
    background-color: rgba(97,126,209,18%);
}

.navbar-dark .navbar-nav .nav-link:focus
{
    color: var(--color-text-1);
    border-radius: 8px;
    background-color: rgba(97,126,209,18%);
}


/* Start Mobile View navbar CSS */
@media all and (min-width: 361px)
{
    .dropdown-menu
    {
        border-radius: 20px;
        padding: 30px;
    }
    .dropdown-menu a
    {
        border: 1px solid #6c8cde44;
        margin-top: 3px;
        border-radius: 10px;
        font-size: 16px;
        padding: 15px;
        color: var(--color-text-2);
    }
}

@media all and (max-width: 360px)
{
    .navbar-collapse
    {
        background: rgba(255, 255, 255, 0.85);
        box-shadow: 4px 4px 8px rgba(108, 141, 222, 0.14);
        border-radius: 6px;
        padding:15px;
    }

    .navbar-dark .navbar-nav .nav-link
    {
        font-family: var(--font-family-nunito);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: var(--color-text-2);
        border:1px solid rgba(108,141,222,20%);
        border-radius:6px;
        margin-top:2px;
    }

    .dropdown-menu
    {
        border-radius: 6px;
        padding: 15px;
    }

    .dropdown-menu a
    {
        font-family: var(--font-family-nunito);
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 19px;
        color: var(--color-text-2);
        border:1px solid rgba(108,141,222,20%);
        border-radius:6px;
        margin-top:2px;
    }

    .navbar-dark .navbar-toggler
    {
        color: #fff;
        border-color: rgba(255,255,255,.1);
    }

    .navbar-toggler
    {
        padding: 0.25rem 5px;
        font-size: 19px;
        line-height: 1;
        background-color: transparent;
        border: 0px solid transparent;
        border-radius: 0.25rem;
    }

}
/* End Mobile View navbar CSS */


h1,h2,h3 
{
    font-family: "Quicksand";
}

h1
{
    font-size: 64px;
    font-weight: bold;
    color: #fff;
}

/* Don't delete main-body css it will be use other css files*/
.main-body
{
   /* background-image: url('../img/main-body-background.png');*/
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* background-position: center; */
}


/* Use this all responsive button */

/* btn-primary use for background button */
.btn-primary
{
    color: #fff;
    background-color: var(--color-button-1);
    border-color: var(--color-button-1);
    border-radius:10px;
}

.btn-primary .disabled, .btn-primary:disabled
{
    color: #fff;
    background-color: var(--color-button-1);
    border-color: var(--color-button-1);
}

.btn-primary:hover
{
    color: var(--color-text-1);
    background-color: #C6D4F8;
    border-color: #C6D4F8;
    border-radius:10px;
}
.btn-primary:focus
{
    box-shadow: none;
    color: var(--color-text-1);
    background-color: #C6D4F8;
    border-color: #C6D4F8;
    border-radius:10px;
}

/* .btn-outline-primary --  text and border white in color */
.btn-outline-primary {
     color: var(--color-text-4);
     border-color: var(--color-text-4);
     border-radius:10px;
}

.btn-outline-primary:focus {
    box-shadow: none;
    color: var(--color-text-1);
    background-color: #C6D4F8;
    border-color: #C6D4F8;
    border-radius:10px;
}

.btn-outline-primary:hover {
    color: var(--color-text-1);
    background-color: #C6D4F8;
    border-color: #C6D4F8;
    border-radius:10px;
}

.btn-outline-primary:disabled
{
    color : var(--color-text-4);
}

/* .btn-outline-secondary --  text and border dark in color */
.btn-outline-secondary {
    color: var(--color-text-1);
    border-color: var(--color-text-1);
    border-radius: 10px;
}

.btn-outline-secondary:hover {
   color: var(--color-text-1);
    background-color: #C6D4F8;
    border-color: #C6D4F8;
    border-radius:10px;
}

/* main heading button - btn-lg */
/* Body button - btn */
/* Sub content buttons - btn-sm*/

.google-map-address
{
    padding-top:150px;
}



/* Start Contact form modal CSS */
.modal .modal-body .modal-contact-form-company-info .modal-contact-form
{
    padding-top: 50px;
}

.modal .modal-body .modal-contact-form-company-info .modal-contact-form .modal-contact-form-heading
{
    font-family: var(--font-family-q-sand);
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: var(--color-text-1);
}

.modal .modal-body .modal-contact-form-company-info .modal-contact-form .modal-contact-form-input
{
    padding-top: 45px;
}


.modal .modal-body .modal-contact-form-company-info .modal-contact-form .modal-contact-form-input input
{
    border-left:none;
    border-right:none;
    border-top:none;
   /* border-color: rgba(var(--color-text-1), 20%);*/
    border-radius: 0px;
    width:100%;
}

.modal .modal-body .modal-contact-form-company-info .modal-contact-form .modal-contact-form-input select
{
    border-left:none;
    border-right:none;
    border-top:none;
   /* border-color: rgba(var(--color-text-1), 20%);*/
    border-radius: 0px;
    width:100%;
}

.modal .modal-body .modal-contact-form-company-info .modal-contact-form .modal-contact-form-input .modal-contact-form-input-icon
{

    padding-left:5px;
    border-bottom: 1px solid rgb(63, 76, 110, 0.1);

}

.modal .modal-body .modal-contact-form-company-info .modal-contact-form .modal-contact-form-input input::placeholder
{
    font-family: var(--font-family-nunito);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: var(--color-text-2);
    padding-left: 25px;
}

.modal .modal-body .modal-contact-form-company-info .modal-contact-form .modal-contact-form-input .modal-contact-form-input-text-box input::placeholder
{

    padding-left: 0px;
}

.modal .modal-body .modal-contact-form-company-info .modal-contact-form .modal-contact-form-input textarea
{
    border-color: rgba(63, 76, 110, 0.2);
    color: var(--color-text-2);
    font-size: 14px;
}

.modal .modal-body .modal-contact-form-company-info .modal-contact-form .modal-contact-form-btn
{
    padding:30px 0px;
}

.modal .modal-body .modal-contact-form-company-info .modal-company-info
{
    background: rgba(121, 151, 226);
}

.modal .modal-body .modal-contact-form-company-info .modal-company-info .modal-company-info-close-icon
{
    padding-top: 30px;
    color: var(--color-text-4);
}

.modal .modal-body .modal-contact-form-company-info .modal-company-info .modal-company-info-close-icon a
{
    color: var(--color-text-4);
}

.modal .modal-body .modal-contact-form-company-info .modal-company-info .modal-company-info-heading
{
    font-family: var(--font-family-q-sand);
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: var(--color-text-4);
}

.modal .modal-body .modal-contact-form-company-info .modal-company-info .modal-company-info-mobile-number
{
    font-family: var(--font-family-nunito);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    color: var(--color-text-4);
    padding-top: 44px;
}

.modal .modal-body .modal-contact-form-company-info .modal-company-info .modal-company-info-whatsapp-number
{
    font-family: var(--font-family-nunito);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    color: var(--color-text-4);
    padding-top: 14px;
}

.modal .modal-body .modal-contact-form-company-info .modal-company-info .modal-company-info-follow-icons
{
    padding-top: 50px;
}

.modal .modal-body .modal-contact-form-company-info .modal-company-info .modal-company-info-follow-icons a
{
    color: var(--color-text-4);
    border: 1px solid;
    border-color: var(--color-text-4);
    padding: 2px;
    text-align: center;
    margin-left: 5px;
}
/* End Contact form modal CSS */


/* Start Mobile View Contact form modal CSS */
@media all and (min-width: 361px)
{
    .mobile-view-contact-close-btn
    {
        display:none;
    }
}

@media all and (max-width: 360px)
{
    .modal .modal-body .modal-contact-form-company-info .modal-contact-form
    {
        padding: 16px 60px 0px 35px;
    }

    .modal .modal-body .modal-contact-form-company-info .modal-contact-form .modal-contact-form-heading
    {
        font-family: var(--font-family-q-sand);
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
        color:  var(--color-text-1);
    }

    .modal .modal-body .modal-contact-form-company-info .modal-contact-form .modal-contact-form-input
    {
        padding-top: 10px;
    }

    .modal .modal-body .modal-contact-form-company-info .modal-contact-form .modal-contact-form-input input::placeholder
    {
        font-family: var(--font-family-nunito);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: var(--color-text-2);
        padding-left: 10px;

    }

    .modal .modal-body .modal-contact-form-company-info .modal-company-info
    {
        padding:10px 30px 20px;
    }

    .modal .modal-body .modal-contact-form-company-info .modal-company-info .modal-company-info-close-icon
    {
        padding-top: 30px;
        color: var(--color-text-4);
        display:none;
    }

    .modal .modal-body .modal-contact-form-company-info .modal-company-info .modal-company-info-heading
    {
        font-family: var(--font-family-q-sand);
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: var(--color-text-4);
    }

    .modal .modal-body .modal-contact-form-company-info .modal-company-info .modal-company-info-mobile-number,
    .modal .modal-body .modal-contact-form-company-info .modal-company-info .modal-company-info-whatsapp-number
    {
        padding-top: 12px;
        font-family: var(--font-family-nunito);
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 145%;
        color: var(--color-text-4);
    }

    .modal .modal-body .modal-contact-form-company-info .modal-company-info .modal-company-info-follow-icons
    {
        padding-top: 10px;
    }
}
/* End Mobile View Contact form modal CSS */






/*
Start
header wave
background
css
*/

.header {
    position: relative;
    /* text-align: center; */
    background: -o-linear-gradient(30deg, rgba(54, 92, 158, 1) 0%, rgba(54, 92, 158, 0) 100%);
    background: linear-gradient(60deg, rgba(54, 92, 158, 1) 0%, rgba(54, 92, 158, 0) 100%);
    color: #fff;
}



.content {
    position: relative;
    height: 20vh;
    /* text-align: center; */
    background-color: #fff;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            /* justify-content: center; */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 100px;
}

.parallax > use {
    -webkit-animation: moveForever 25s cubic-bezier(.55, .5, .45, .5) infinite;
            animation: moveForever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax > use:nth-child(1) {
    -webkit-animation-delay: -2s;
            animation-delay: -2s;
    -webkit-animation-duration: 9s;
            animation-duration: 9s;
}

.parallax > use:nth-child(2) {
    -webkit-animation-delay: -3s;
            animation-delay: -3s;
    -webkit-animation-duration: 12s;
            animation-duration: 12s;
}

.parallax > use:nth-child(3) {
    -webkit-animation-delay: -4s;
            animation-delay: -4s;
    -webkit-animation-duration: 15s;
            animation-duration: 15s;
}

.parallax > use:nth-child(4) {
    -webkit-animation-delay: -5s;
            animation-delay: -5s;
    -webkit-animation-duration: 22s;
            animation-duration: 22s;
}

@-webkit-keyframes moveForever {
    0% {
        -webkit-transform: translate3d(-90px, 0, 0);
                transform: translate3d(-90px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(85px, 0, 0);
                transform: translate3d(85px, 0, 0);
    }
}

@keyframes moveForever {
    0% {
        -webkit-transform: translate3d(-90px, 0, 0);
                transform: translate3d(-90px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(85px, 0, 0);
                transform: translate3d(85px, 0, 0);
    }
}

@media (max-width : 768px) {
    h1 {
        font-size: 24px;
    }
    .content {
        height: 30vh;
    }
    .waves {
        height: 40px;
        min-height: 40px;
    }
}
/*
End
header wave
background
css
*/


.footer
{
    background-color: #617ED1;
    color: #fff;
    padding-top: 20px;
}

.footer ul li a
{
    color: #fff;
}

.footer .follow-icon a
{
    color: #fff;
    border-color: #fff;
    padding: 2px;
}

/* Start Mobile View Footer CSS */
@media all and (min-width: 361px)
{
     .footer .footer-contact-us
    {
        text-align:center;
        border-right: 1px solid rgba(255, 255, 255, 0.2);
    }

    .footer .footer-follow-icon
    {
        text-align:center;
        padding-top:52px;
    }

    .footer .footer-company-logo
    {
        padding-top:10px;
    }
}

@media all and (max-width: 360px)
{
    .footer .footer-contact-us
    {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }

    .footer .footer-follow-icon
    {
        text-align:left;
        padding-top:20px;
    }

    .footer .footer-company-logo
    {
        padding-top:20px;
    }

    .footer .footer-company-logo img
    {
        width:50px;
    }
}
/* End Mobile View Footer CSS */



/* copy-right */
.copy-right
{
    background-color:var(--color-text-1);
}

/* Start Privacy Policy Modal CSS */

.modal-dialog {
    max-width: 1200px;
    margin: 1.75rem auto;
}
.privacy-policy-modal .modal-body .privacy-policy-heading
{
    font-family: var(--font-family-q-sand);
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: var(--color-text-1);
}

.privacy-policy-modal .modal-body .privacy-policy-heading1
{
    padding-top:20px;
    font-family: var(--font-family-q-sand);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: var(--color-text-1);
}
.privacy-policy-modal .modal-body .privacy-policy-heading2
{
    padding-top:16px;
    font-family: var(--font-family-q-sand);
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: var(--color-text-1);
}

.privacy-policy-modal .modal-body .privacy-policy-heading3
{
    padding-top:16px;
    font-family: var(--font-family-nunito);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 145%;
    color: #3F4C6E;
}

.privacy-policy-modal .modal-body .privacy-policy-content
{
    padding-top: 13px;
    font-family: var(--font-family-nunito);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    color: var(--color-text-2);
}
/* End Privacy Policy Modal CSS */